---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getI18N } from "@/i18n";
import TagH1 from "@/components/global/TagH1.astro";
import TagP from "@/components/global/TagP.astro";
import BContainer from "@/components/global/BContainer.astro";
import Maps from "./Maps.astro";
import { Laurel1, Laurel2, Laurel3 } from "@/icons/allIcons";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale }) as any;
const cloudEndpoint = "https://ik.imagekit.io/pos7v26vx";

const getUrl = (id: string, w = 800) =>
  `${cloudEndpoint}/tr:w-${w},q-80,f-auto/${id}`;

const images = {
  imgCenote: "/Cenote-Adventuring/Card.Cenote.webp",
  imgDetails1: "/Cenote-Adventuring/CenoteA.4.webp",
  imgDetails2: "/Cenote-Adventuring/CenoteA.5.webp",
  img1: "/Cenote-Adventuring/CenoteA.8.webp",
  img2: "/Cenote-Adventuring/CenoteA.3.webp",
  img3: "/Cenote-Adventuring/CenoteA.6.webp",
};
const related_awards = [
  {
    name: "National Geography",
    image: Laurel1,
  },
  {
    name: "World Travel Awards",
    image: Laurel2,
  },
  {
    name: "Trip Advisor",
    image: Laurel3,
  },
];

const descriptions = [i18n.RUTA_CENOTES_PAGE.HERO.DESCRIPTION];
const seoMetaData = {
  title: i18n.RUTA_CENOTES_PAGE.HERO.TITLE2,
  description: i18n.RUTA_CENOTES_PAGE.HERO.SUBTITLE,
};
---

<BaseLayout seo={seoMetaData}>
  <main class="bg-[#F8FAFC] overflow-x-hidden">
   <section class="relative h-[80vh] flex items-center justify-center overflow-hidden">
      <img
        src={getUrl(images.imgCenote)}
        class="absolute z-0 w-full h-full object-cover scale-[1.05] brightness-[0.4]"
        id="hero-img"
        alt="Cenote Background"
        loading="eager"
      />
      <div class="relative z-10 text-center text-white px-6">
        <h1
          class="font-serif italic text-4xl md:text-4xl mb-6 tracking-tight drop-shadow-lg"
        >
          {i18n.ABOUT_US_PAGE.HERO.H1}
        </h1>
        <p class="tracking-[0.5em] text-sm font-light opacity-90">
          {i18n.ABOUT_US_PAGE.HERO.SUBTITLE}
        </p>
      </div>
    </section>


    <section class="max-w-7xl mx-auto px-6 py-16 md:py-28">
      <div
        class="grid grid-cols-1 lg:grid-cols-12 gap-10 lg:gap-16 items-center"
      >
        <div class="lg:col-span-6 relative group">
          <div
            class="aspect-[4/5] md:aspect-[3/4] overflow-hidden rounded-sm shadow-2xl"
          >
            <img
              src={getUrl(images.img3, 1000)}
              class="w-full h-full object-cover transition-transform duration-[2s] group-hover:scale-105"
              alt="Experiencia Exclusiva en Cenote"
              loading="lazy"
            />
          </div>
          <div
            class="absolute -bottom-4 -right-4 w-full h-full border border-slate-100 -z-10 hidden md:block"
          >
          </div>
        </div>

        <div class="lg:col-span-6 flex flex-col justify-center lg:pl-4">
          <div class="w-12 h-[1px] bg-[#006083] mb-8"></div>
          <h2
            class="font-serif text-3xl md:text-5xl text-[#001524] mb-6 leading-tight"
          >
            {i18n.DETAIL_PAGE.PRIVATE_CENOTE.INTRO.TITLE}
          </h2>

          <div class="space-y-6">
            <p
              class="text-[#001524]/60 max-w-4xl mx-auto mb-10 md:mb-20 px-5 lg:text-lg md:text-2xl"
            >
              {i18n.DETAIL_PAGE.PRIVATE_CENOTE.INTRO.DESCRIPTION}
            </p>
            <div class="pt-6">
              <div class="w-full h-[1px] bg-black/5"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="py-24 md:py-32 -mt-50">
      <BContainer>
        <section class="py-24 bg-[#F8FAFC] -mt-25">
          <BContainer>
            <div class="flex flex-col lg:flex-row-reverse gap-16 items-start">
              <div class="w-full lg:w-5/12 lg:sticky lg:top-24">
                <div class="relative group">
                  <img
                    src={getUrl(images.imgDetails2)}
                    class="w-full aspect-[3/4] object-cover rounded-md shadow-2xl transition-transform duration-700"
                    alt="Cenote Experience"
                  />
                </div>
              </div>

              <div class="w-full lg:w-7/12">
                <header class="mb-16">
                  <TagH1
                    class="font-serif md:text-4xl text-black leading-[1.2] tracking-tight -mb-10"
                  >
                    {i18n.RUTA_CENOTES_PAGE.WHAT_TO_EXPECT.TITLE}
                  </TagH1>
                  <div class="h-[1px] w-12 bg-[#006083]/30 mt-8"></div>
                </header>

                <div class="space-y-12">
                  {
                    i18n.RUTA_CENOTES_PAGE.WHAT_TO_EXPECT.LIST.map((item) => (
                      <div class="group border-l-2 border-[#006083]/10 pl-8 hover:border-[#006083] transition-colors duration-700">
                        <h3 class="text-2xl font-serif text-black mb-3">
                          {item.TITLE}
                        </h3>
                        <p class="text-slate-600 font-light leading-relaxed max-w-xl">
                          {item.DESCRIPTION}
                        </p>
                      </div>
                    ))
                  }
                </div>
              </div>
            </div>
          </BContainer>
        </section>

        <section class="py-24 bg-[#F8FAFC] -mt-45">
          <BContainer>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
              <div
                class="lg:col-span-2 bg-[#EDF4FC] p-10 md:p-14 rounded-sm text-black flex flex-col justify-center"
              >
                <h2 class="text-3xl md:text-5xl font-serif mb-6 leading-tight">
                  {i18n.RUTA_CENOTES_PAGE.GRID_TEXTS.EXPLORING_ROUTE.TITLE}
                </h2>
                <p
                  class="text-black/80 font-light leading-relaxed text-lg max-w-2xl"
                >
                  {
                    i18n.RUTA_CENOTES_PAGE.GRID_TEXTS.EXPLORING_ROUTE
                      .DESCRIPTION
                  }
                </p>
              </div>

              <div class="bg-slate-50 p-10 rounded-sm border border-slate-100">
                <h3
                  class="text-xl font-serif text-[#006083] mb-8 uppercase tracking-wider"
                >
                  {i18n.RUTA_CENOTES_PAGE.GRID_TEXTS.THINGS_TO_DO.TITLE}
                </h3>
                <ul class="space-y-8">
                  {
                    i18n.RUTA_CENOTES_PAGE.GRID_TEXTS.THINGS_TO_DO.LIST.map(
                      (item) => (
                        <li class="group">
                          <h4 class="font-bold text-xs uppercase tracking-widest text-slate-800 mb-1 group-hover:text-[#006083] transition-colors">
                            {item.TITLE}
                          </h4>
                          <p class="text-sm text-slate-500 font-light leading-snug">
                            {item.DESCRIPTION}
                          </p>
                        </li>
                      ),
                    )
                  }
                </ul>
              </div>

              <div
                class="bg-[#EDF4FC] p-10 rounded-sm flex flex-col justify-center"
              >
                <h3 class="text-2xl font-serif text-[#006083] mb-4">
                  {i18n.RUTA_CENOTES_PAGE.GRID_TEXTS.UNIQUE_CENOTES.TITLE}
                </h3>
                <p class="text-slate-600 font-light leading-relaxed">
                  {i18n.RUTA_CENOTES_PAGE.GRID_TEXTS.UNIQUE_CENOTES.DESCRIPTION}
                </p>
              </div>

              <div
                class="lg:col-span-2 border border-slate-200 p-10 rounded-sm flex flex-col md:flex-row gap-10 items-center"
              >
                <div class="md:w-1/2">
                  <h3 class="text-2xl font-serif text-[#006083] mb-4">
                    {i18n.RUTA_CENOTES_PAGE.GRID_TEXTS.LOCATION_INFO.TITLE}
                  </h3>
                  <p class="text-slate-600 font-light mb-6">
                    {
                      i18n.RUTA_CENOTES_PAGE.GRID_TEXTS.LOCATION_INFO
                        .DESCRIPTION
                    }
                  </p>
                </div>
                <div class="md:w-1/2 grid grid-cols-1 gap-4">
                  {
                    i18n.RUTA_CENOTES_PAGE.GRID_TEXTS.LOCATION_INFO.DETAILS.map(
                      (detail) => (
                        <div class="flex items-center gap-4 p-4 bg-white shadow-sm border-l-4 border-[#006083]">
                          <p class="text-xs uppercase tracking-widest font-semibold text-slate-700">
                            {detail}
                          </p>
                        </div>
                      ),
                    )
                  }
                </div>
              </div>
            </div>
          </BContainer>
          <Maps />
        </section>
        <!-- QUESTIONS THE RUTA CENOTE -->
        <section class="py-24 -mt-66">
          <BContainer>
            <div class="group py-8">
              <div class="flex justify-between items-center list-none">
                <span
                  class="text-2xl md:text-3xl font-serif text-[#001524] mt-10 mb-8"
                >
                  {i18n.RUTA_CENOTES_PAGE.FAQS.TITLE}
                </span>
              </div>

              <div class="flex flex-col gap-4 mx-auto">
                {
                  i18n.RUTA_CENOTES_PAGE.FAQS.LIST.map(
                    (
                      faq: { question: string; answer: string },
                      index: number,
                    ) => (
                      <details
                        name="faq-accordion"
                        open={index === 0}
                        class="group bg-[#EDF4FC] rounded-lg border border-white/50 shadow-sm overflow-hidden transition-all duration-300"
                      >
                        <summary class="flex justify-between items-center cursor-pointer list-none p-10 text-left font-medium text-[#001524] hover:text-[#005B71] transition-colors">
                          <span class="pr-4">{faq.question}</span>
                          <div class="flex-shrink-0 w-6 h-6 flex items-center justify-center">
                            <span class="text-3xl font-light text-gray-400 transition-transform duration-300 group-open:rotate-45 block leading-none">
                              +
                            </span>
                          </div>
                        </summary>

                        <div class="px-6 pb-6 animate-fade-in">
                          <p class="text-gray-600 leading-relaxed font-light border-t border-blue-100 pt-4">
                            {faq.answer}
                          </p>
                        </div>
                      </details>
                    ),
                  )
                }
              </div>
            </div>
          </BContainer>
        </section>
        <!-- TERMINA QUESTION THE RUTA CENOTE -->
        <!-- se agrega seccion para awards -->
        <div
  class="grid grid-cols-3 gap-2 md:gap-4 mt-8 md:mt-12 mx-auto max-w-4xl px-4"
>
  {
    related_awards.map((activity) => (
      <div class="flex flex-col items-center justify-center p-0 md:p-2">
        {/* Aumentamos la altura del contenedor h-24 -> h-32 */}
        <div class="h-24 md:h-40 w-full flex items-center justify-center">
          <img
            src={activity.image.src}
            alt={activity.name}
            /* Aumentamos max-w a 120px en móvil y 280px en desktop */
            class="h-full w-auto max-w-[120px] md:max-w-[280px] object-contain opacity-90 transition-all hover:scale-105"
          />
        </div>
      </div>
    ))
  }
</div>
      </BContainer>
    </section>
  </main>
</BaseLayout>

<script>
  import "@mux/mux-player";
  const heroImg = document.getElementById("hero-img");
  if (heroImg) {
    window.addEventListener("scroll", () => {
      const scrollValue = window.scrollY;
      if (scrollValue < window.innerHeight) {
        heroImg.style.transform = `translateY(${scrollValue * 0.35}px) scale(1.05)`;
      }
    });
  }
</script>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400&display=swap");

  .font-serif {
    font-family: "Playfair Display", serif;
  }

  .animate-fade-in {
    animation: fadeIn 2s ease-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  main {
    scroll-behavior: smooth;
  }
</style>
