---
import { Button } from "@/components/ui/button";
import { getI18N } from "@/i18n";
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";
import TagH1 from "@/components/global/TagH1.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale }) as any;
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const Mux_playback_Id = "02O1Y01f9gynt28Ukp95X7DFLyGBQILjyyk8xtjNO0298I";
const videoUrl = `https://stream.mux.com/{TU_PLAYBACK_ID}/high.mp4`;
const posterUrl = `https://image.mux.com/${Mux_playback_Id}/thumbnail.jpg?time=1&width=1920`;
---

<section class="bg-[#F8FAFC] relative w-full h-screen overflow-hidden">
  <mux-player
    playback-id={Mux_playback_Id}
    autoplay
    muted
    loop
    playsinline
    no-controls
    preload="auto"
    class="hero-video brightness-[0.4]"></mux-player>

  <div
    class="max-w-7xl mx-auto relative z-20 text-center text-white px-4 lg:px-6 flex flex-col items-center gap-8 sm:gap-10"
  >
    <div class="flex flex-col gap-4">
      <TagH1
        class="font-serif regular text-3xl sm:text-7xl md:text-7xl lg:text-6xl leading-tight mt-100"
      >
        {i18n.HOME_PAGE.HERO.TITLE}
        <span
          class="block not-regular italic text-xl sm:text-2xl md:text-3xl lg:text-4xl lg:mt-25"
        >
          {i18n.HOME_PAGE?.SUBTITLE}
        </span>
      </TagH1>
    </div>
    <div class="flex flex-col items-center gap-8">
      <a href={translatePath("/#plans")} class="inline-block">
        <Button
          className="bg-[#006083] text-white rounded-md px-12 h-14 uppercase tracking-[0.3em] text-[10px] md:text-xs border border-white/10 transition-all duration-500 shadow-xl"
        >
          {i18n.HOME_PAGE.HERO.DES}
        </Button>
      </a>
    </div>
  </div>
</section>

<script>
  import "@mux/mux-player";
</script>

<style>
  mux-player {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    --controls: none;
    --media-object-fit: cover;
  }

  mux-player::part(video) {
    width: 100vw !important;
    height: 100vh !important;
    object-fit: cover !important;
  }
</style>
