---
import { getI18N } from "@/i18n";
import Layout from "@/layouts/BaseLayout.astro";
import {
  Star,
  Clock,
  Users,
  Calendar,
  Truck,
  Check,
  X,
  ChevronRight,
} from "lucide-react";

const tour = {
  title: "Private Cenote Rental In Cancun",
  tagline:
    "Exclusive Experience at 3 Private Cenotes with a Mayan Show and Snacks",
  rating: 4.8,
  reviews: 1982,
  description:
    "Cenote Adventuring® is part of Grupo Extreme®, which offers five of Mexico's most award-winning and highly rated culinary and adventure experiences.",
  inclusions: [
    { text: "Conservation Fee (Included)", inc: true },
    { text: "Round-trip transportation", inc: true },
    { text: "3 Cenotes (Waterfall, Zipline, Cavern)", inc: true },
    { text: "Tequila Tasting", inc: true },
    { text: "Mayan Snack", inc: true },
    { text: "Mayan Performance", inc: false },
    { text: "Professional Photography", inc: false },
  ],
};

const cloudName = import.meta.env.PUBLIC_CLOUDINARY_CLOUD_NAME || "depikrkrz";
const videoId = import.meta.env.PUBLIC_CLOUDINARY_VIDEO_ID;

const carouselImages = [
  "CenoteA.1_ntnmsp",
  "CenoteA.2_njvbos",
  "CenoteA.3_pzncr9",
  "CenoteA.4_tevpif",
  "CenoteA.5_tdhqvl",
  "CenoteA.6_ikzdny",
  "CenoteA.7_rpyhjn",
  "CenoteA.8_jx4f49",
];
const relatedActivities = [
  {
    name: "Taco Tour",
    image: "taco_taco_ud62mv",
    slug: "beach-taco-tour",
  },
  {
    name: "Extreme Adventuring",
    image: "moto_moto_jxf9jy",
    slug: "extreme-adventuring",
  },
  {
    name: "Snorkel Adventuring",
    image: "snorkel_snorkel_iqkdev",
    slug: "snorkel-adventuring",
  },
];

const imagesDetails = {
  imgDetails1: "Card.2.2_eik10v",
  imgDetails2: "Card.1.2_x0xkn2",
};

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const videoUrl = `https://res.cloudinary.com/depikrkrz/video/upload/v1774544286/video_cenote_web_nzoauf.mp4`;
const posterUrl = `https://res.cloudinary.com/${cloudName}/video/upload/f_auto,q_auto/${videoId}.jpg`;

const getUrl = (id: string, w = 1200) =>
  `https://res.cloudinary.com/${cloudName}/image/upload/f_auto,q_auto,w_${w}/${id}`;
---

<Layout title={tour.title}>
  <main class="bg-[#F4F7FA] pb-20 overflow-x-hidden">
    <section
      class="relative h-[80vh] flex items-center justify-center overflow-hidden"
    >
      <video
        autoplay
        loop
        muted
        playsinline
        poster={posterUrl}
        class="absolute z-0 w-full h-full object-cover transition-opacity duration-1000 scale-[1.01] opacity-100"
        id="hero-video-player"
      >
        <source src={videoUrl} type="video/mp4" />
      </video>
      <div class="relative z-10 text-center text-white px-6">
        <h1
          class="font-serif italic text-4xl md:text-4xl mb-6 tracking-tight drop-shadow-lg"
        >
          Cenote private
        </h1>
        <p
          class="uppercase tracking-[0.5em] text-xs md:text-sm font-light opacity-90"
        >
          {tour.tagline}
        </p>
        <div
          class="flex items-center justify-center tracking-[0.5em] md:text-sm relative h-[5vh]"
        >
          <Star className="text-yellow-400 fill-yellow-400" size={15} />
          <span class="font-bold text-[#ffffff]"> {tour.rating}</span>
          <span class="text-white">({tour.reviews} reviews)</span>
        </div>
      </div>
    </section>

    <section class="max-w-7xl mx-auto px-6 py-12 md:py-24">
      <div
        class="grid grid-cols-1 md:grid-cols-2 gap-12 md:gap-16 items-center"
      >
        <div class="relative h-[400px] md:h-[550px] w-full">
          <div
            class="absolute top-0 left-0 w-[70%] md:w-[65%] h-[80%] md:h-[85%] overflow-hidden shadow-lg"
          >
            <img
              src={getUrl(imagesDetails.imgDetails1, 800)}
              class="w-full h-full object-cover transition-transform duration-700 hover:scale-200"
              alt="Adventure 1"
            />
          </div>

          <div
            class="absolute bottom-0 right-0 w-[70%] md:w-[65%] h-[80%] md:h-[85%] overflow-hidden shadow-2xl"
          >
            <img
              src={getUrl(imagesDetails.imgDetails2, 800)}
              class="w-full h-full object-cover transition-transform duration-700 hover:scale-105"
              alt="Adventure 2"
            />
          </div>
        </div>

        <div class="flex flex-col justify-center text-center md:text-left">
          <hr class="border-black/50 w-full mb-6 md:mb-8" />
          <h2
            class="font-serif text-3xl md:text-5xl italic text-[#001524] mb-6 md:mb-8 leading-tight"
          >
            Mexico's Most Awarded <br class="hidden md:block" /> Adventure Company
          </h2>
          <p
            class="text-gray-600 leading-relaxed text-base md:text-lg font-light italic"
          >
            "{tour.description}"
          </p>
          <hr class="border-black/50 w-full mt-6 md:mt-8" />
        </div>
      </div>
    </section>

    <section class="max-w-screen-2xl mx-auto px-4 md:px-10 mb-20">
      <div
        class="bg-white rounded-2xl p-6 shadow-sm border border-gray-100 grid grid-cols-2 md:grid-cols-4 gap-6 mb-12"
      >
        <div
          class="flex flex-col items-center text-center gap-3 md:border-r border-gray-100 last:border-none px-2"
        >
          <Clock size={30} className="text-gray-400" />
          <div class="flex flex-col">
            <span
              class="text-[9px] md:text-[10px] font-bold uppercase tracking-widest text-gray-400"
              >Duration</span
            >
            <span class="text-xs md:text-sm font-semibold text-gray-800"
              >4 hours approx</span
            >
          </div>
        </div>

        <div
          class="flex flex-col items-center text-center gap-3 md:border-r border-gray-100 last:border-none px-2"
        >
          <Users size={30} className="text-gray-400" />
          <div class="flex flex-col">
            <span
              class="text-[9px] md:text-[10px] font-bold uppercase tracking-widest text-gray-400"
              >Min. Age</span
            >
            <span class="text-xs md:text-sm font-semibold text-gray-800"
              >5 years+</span
            >
          </div>
        </div>

        <div
          class="flex flex-col items-center text-center gap-3 md:border-r border-gray-100 px-2"
        >
          <Calendar size={30} className="text-gray-400" />
          <div class="flex flex-col">
            <span
              class="text-[9px] md:text-[10px] font-bold uppercase tracking-widest text-gray-400"
              >Schedule</span
            >
            <span class="text-xs md:text-sm font-semibold text-gray-800"
              >09:00 | 13:00</span
            >
          </div>
        </div>

        <div class="flex flex-col items-center text-center gap-3 px-2">
          <Truck size={30} className="text-gray-400" />
          <div class="flex flex-col">
            <span
              class="text-[9px] md:text-[10px] font-bold uppercase tracking-widest text-gray-400"
              >Transport</span
            >
            <span class="text-xs md:text-sm font-semibold text-gray-800"
              >Included</span
            >
          </div>
        </div>
      </div>

      <div class="max-w-screen-2xl mx-auto px-4 md:px-10 mb-20">
        <h3
          class="font-bold text-[#001524] mb-6 underline decoration-cyan-500 underline-offset-12"
        >
          Inclusions:
        </h3>
        <div class="center grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-4">
          {
            tour.inclusions.map((item) => (
              <div class="flex items-start gap-3">
                {item.inc ? (
                  <Check
                    size={18}
                    className="text-emerald-500 shrink-0 mt-0.5"
                  />
                ) : (
                  <X size={18} className="text-red-400 shrink-0 mt-0.5" />
                )}
                <span
                  class={`text-sm ${item.inc ? "text-gray-700" : "text-gray-400"}`}
                >
                  {item.text}
                </span>
              </div>
            ))
          }
        </div>
      </div>
    </section>
  </main>
  <!-- Recomendaciones de otros productos -->
  <section class="bg-white py-20 px-6 overflow-hidden">
    <div class="max-w-6xl mx-auto">
      <div class="text-center mb-12">
        <h2 class="font-serif text-3xl text-[#001524] mb-4">
          {i18n.REGULAR_CENOTE?.INTRO?.TITLE}
        </h2>
        <p class="text-gray-500 max-w-2xl mx-auto">
          {i18n.REGULAR_CENOTE?.INTRO?.DESCRIPTION}
        </p>
      </div>

      <div class="swiper mySwiper pb-12">
        <div class="swiper-wrapper">
          {
            relatedActivities.map((activity) => (
              <div class="swiper-slide">
                <a href={`/activities/${activity.slug}/`} class="group block">
                  <div class="aspect-[3/4] overflow-hidden mb-6 shadow-sm bg-gray-100">
                    <img
                      src={getUrl(activity.image, 600)}
                      alt={activity.name}
                      class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-700"
                    />
                  </div>
                  <div class="text-left">
                    <h3 class="font-serif text-xl text-[#001524] mb-2">
                      {activity.name}
                    </h3>

                    <div class="text-[11px] font-bold tracking-widest lg:text-gray-400 md:text-[#001524] flex items-center gap-2">
                      Discover more <ChevronRight size={14} />
                    </div>
                  </div>
                </a>
              </div>
            ))
          }
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
</Layout>

<style>
  @import "swiper/css";
  @import "swiper/css/pagination";
  .swiper-pagination-bullet-active {
    background: #005b71 !important;
  }

  .swiper-slide {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.swiper-slide-active {
  opacity: 1;
}

/* NUEVO: En desktop (min-width: 1024px), todos los slides visibles deben ser opacos */
@media (min-width: 1024px) {
  .swiper-slide {
    opacity: 1 !important;
    transform: scale(1) !important; /* Por si también se veían pequeños */
  }
}
</style>

<script>
  import Swiper from "swiper";
  import { Autoplay, Keyboard, Pagination } from "swiper/modules";

  function initSwiper() {
    new Swiper(".mySwiper", {
      modules: [Pagination, Autoplay],
      slidesPerView: 1.2,
      spaceBetween: 20,
      loop: true,
      autoplay: { delay: 4000 },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        640: { slidesPerView: 2.2 },
        1024: { slidesPerView: 3, spaceBetween: 40 },
      },
    });
  }

  initSwiper();
  document.addEventListener("astro:page-load", initSwiper);
</script>
